
<div class="nube">
    <div class="etiquetas">
        {% for key,value in names %}
        <span class='etiquetatam{{ value }}'>{{ key }}</span>
        {% endfor %}
        <div style='clear:both'></div>
    </div>
</div>