
<div class="nube">
    <div class="etiquetas">
        {% for product_id,product_data in names %}
        <a href="{{ url('product', {'productId': product_id}) }}">
            <span class='etiquetatam{{ product_data.score }}'>{{ product_data.name }}</span>
        </a>
        {% endfor %}
        <div style='clear:both'></div>
    </div>
</div>
