{% extends 'base.html.twig' %}

{% block body %}
  <main class="container">

    <section class="row section">
        <h3>Qué está pasando en Instagram?</h3>
        <div id="last-instagram"></div>
    </section>

  </main>
{% endblock %}


{% block javascripts %}
  <script type="text/javascript">
    $( "#last-instagram" ).load( "{{ url('last_instagram') }}" );
  </script>
{% endblock %}
