{% extends 'base.html.twig' %}

{% block body %}
  <main class="container">

    <div class="divider"></div>
    <section class="row section">
        <h3>Productos más comentados</h3>
        <div id="cloud-products">
            {% include "blocks/spinner.html.twig" %}
        </div>
    </section>

    <div class="divider"></div>
    <section class="row section">
        <h3>Qué está pasando en Instagram?</h3>
        <div id="last-instagram">
            {% include "blocks/spinner.html.twig" %}
        </div>
    </section>

    <div class="divider"></div>
    <section class="row section">
        <h3>Qué está pasando en Twitter?</h3>
        <div id="last-twitter">
            {% include "blocks/spinner.html.twig" %}
        </div>
    </section>

  </main>
{% endblock %}


{% block javascripts %}
  <script type="text/javascript">
    $( "#last-instagram" ).load( "{{ url('last_instagram') }}" );
    $( "#last-twitter" ).load( "{{ url('last_twitter') }}" );
    $( "#cloud-products" ).load( "{{ url('cloud-products') }}" );
  </script>
{% endblock %}
