{% extends 'base.html.twig' %}

{% block body %}
    <main class="container ">
        {% if results is not empty %}
            <h3>Resultados para "{{ query_text }}"</h3>
            <div class="section">
                <h4>Vinos</h4>
                <div class="row">
                    {% set products = results %}
                    {% include "blocks/products_grid.html.twig" with products %}
                </div>
            </div>
        {% else %}
            <h3>No hay resultados para "{{ query_text }}"</h3>
            <img class="notfound-image" src="{{ asset('images/broken_wine_glass.jpg') }}">
        {% endif %}


    </main>
{% endblock %}
