.card .card-image .card-title {
    line-height: 1em;
    background-color: #00695c;
    opacity: 0.9;
    padding: 15px;
}


/* Search bar */

.input-field input[type=search] {
    display: inline-block;
    height: 2em;
    border-radius: 2px;
}


/* Search results */

.card .card-image img {
    width: initial;
    height: 250px;
    margin: 0 auto;
}

.card-content p {
    height: 3em;
    overflow: hidden;
}

.notfound-image{
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 15px #ddd;
    background: #fff;
}


/* Product sheet */

.product-sheet .product-maker {
    opacity: 0.8;
}

.product-sheet .card-panel {
    padding: 25px;
}

.product-sheet .product-attributes,
.product-sheet .uvinum-data,
.product-sheet .product-image {
    height: 285px;
}

.product-sheet .product-attributes dt,
.product-sheet .product-attributes dd {
    margin: 10px 0;
}

.product-sheet .product-attributes dt {
    font-weight: bold;
    float: left;
    width: 30%;
}

.product-sheet .product-attributes dd {
    float: left;
    width: 70%;
}

.product-sheet .product-attributes ul {
    margin: 0;
}

.product-sheet .uvinum-data .uvinum-logo {
    width: 125px;
}

.product-sheet .uvinum-data .uvinum-rank {
    display: block;
    font-size: 2em;
    margin-top: 10px;
}

.product-sheet .uvinum-data .uvinum-buy {
    padding: 0 1.5rem;
    margin-top: 10px;
}

.product-sheet .product-table-of-contents {
    margin: 40px 0 40px 40px;
}

.product-sheet .product-table-of-contents li {
    padding: 5px 0;
}

.product-sheet .product-table-of-contents a {
    color: #00695c;
}

.product-sheet .product-table-of-contents a.active {
    font-weight: bold;
}


/* Sticky footer */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
